h1 , h2{
    color:gray;
    text-align: center;
    margin: 20px 0;   
    
} 
.parrafo {
    margin: 20px 140px;
}

.lista{
    align-items: center;
     display: flex; 
     flex-direction: column;
}


.perro {
    width :200;
    height: 200; 
    float: center;
    margin: 20px 90px;
}

img {
    margin: 20px 60px;
    float: center;
    width: 200px;
    height: 200px;
  }

.container {
    text-align: center;
}